<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>Maps</title>
  <link rel="stylesheet" href="./css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
</head>
<body ng-app="maps">

  <div ng-controller="MainController as main" class="container">
    <map-canvas id="map-canvas" class="map_canvas"></map-canvas>
    <div class="spaces-sidebar">
      <div class="spaces">
        <div class="single-space" ng-class="main.highlightSpace(space._id)" ng-repeat="space in main.spacesForView" data-name="{{space._id}}" >
          <img src="{{space.main_photo.min_url}}" alt="" class="single-space__image">
          <h2 class='single-space__header'>{{space.name}}</h2>
          {{space._id + " " +main.highlight}}
        </div>
      </div>
      <div class="pagination">
        <button class="pagination__arrow pagination__arrow--left" ng-click="main.changePage('previous')">
          <img src="./assets/left-arrow.png" alt="left arrow icon">
        </button>
        <input type="text" ng-model="main.pagination.currentPage" size='2' class="pagination__input" ng-change="main.reDrawMap()">
        <button class="pagination__arrow pagination__arrow--right" ng-click="main.changePage('next')">
          <img src="./assets/right-arrow.png" alt="right arrow icon">
        </button>
      </div>
    </div>
  </div>

  <!-- vendors -->
  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js" type="text/javascript"></script> -->
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBpm8-hJRbQrbHgJezdl3Cp3c0iaKUJ5WU&extension=.js'></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>


  <!-- scripts -->
  <script src="./js/app.js" ></script>

  <script src="./js/services/pagination.js" ></script>
  <script src="./js/services/api-connector.js" ></script>
  <script src="./js/services/map-helper.js" ></script>

  <script src="./js/controllers/main-controller.js" ></script>

  <script src="./js/directives/map-canvas.js" ></script>




  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpm8-hJRbQrbHgJezdl3Cp3c0iaKUJ5WU&callback=window.mapCanvas" type="text/javascript"></script> -->


</body>
</html>
